#phaser{
    position: absolute;
    top: 5%;
}
#gameButtonDIV{
    position: absolute;
    top : 80%;
}


#displayText {
    position: absolute;
    left: 0;
    top: 85%;
}
html,
body {
    height: 100%;
}